.doctorContainer {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.h2El {
  padding-top: 30px;
  max-width: 543px;
  max-height: 67px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  text-align: center;
  color: rgba(27, 60, 116, 1);
}
.carouselContainer {
  width: 90%;
  height: 565px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.one {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 504px;
  width: 370px;
}
.carouselContainer img {
  display: block;
  max-height: 504px;
  max-width: 370px;
  object-fit: cover;
  object-position: center;
  /*  */
  /* margin: 0 auto; */
}
.slick-slide > div {
  margin: 0 10px;
}
