.statement {
  width: 100%;
  background-color: rgba(42, 167, 255, 1);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  padding: 9px 20px;
  text-align: center;
}
.navbar {
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarItemContainer {
  width: 92%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logoContainer {
  width: 92px;
  height: 27px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoContainer img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.topicsContainer {
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lists {
  list-style: none;
  color: rgba(16, 40, 81, 1);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  cursor: pointer;
  /*  */
  position: relative;
  text-decoration: none;
}
.lists::after {
  content: "";
  position: absolute;
  height: 6px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: rgba(42, 167, 255, 1);
}

.listsActive::after {
  width: 100%; /* Expand to desired width */
  top: 48px;
}
/* changing bg accordingly */
.home {
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
}
.other {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 9px 12px 0px rgba(32, 74, 105, 0.07);
}

/*  */

.hamburger,
.closeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: rgba(42, 167, 255, 1);
}
svg {
  width: 50px !important;
  height: 50px !important;
}
@media (max-width: 1120px) {
  .topicsContainer {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 2px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.9);
  }
  .listsActive::after {
    width: 100%; /* Expand to desired width */
    top: 20px;
  }
  .navbarItemContainer {
    justify-content: space-between;
  }
  .hamburger,
  .closeIcon {
    display: block;
  }
  .open {
    display: flex;
  }
  .close {
    display: none;
  }
}
