.container {
  width: 100%;
  height: 677.77px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.heading {
  max-width: 100%;
  height: 160px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.pEl {
  width: 100px;
  height: 27px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: rgba(42, 167, 255, 1);
}
.h2El {
  width: 100%;
  height: 67px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  text-align: center;
  color: rgba(27, 60, 116, 1);
}
/*  */
.sliderContainer {
  margin-right: 10px;
  height: 477.77px;
  width: 90%;
  /* border: 1px solid greenyellow; */
}
.slideContainer {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 363px;
  height: 458px;
  /* border: 1px solid pink; */
}
.slideImage {
  max-width: 300.33px;
  height: 294.59px;
}
.slideImage img {
  width: 100%;
  height: 100%;
}
.slideContent {
  padding-left: 10px;
  /* width: 90%; */
  max-width: 300.33px;
  height: 150px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.slideContentOne p {
  /* font-family: Inter; */
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: rgba(119, 130, 157, 1);
}
.slideContainer p span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
}

.slideContainer p span::before {
  content: "";
  display: inline-block; /* Ensures it respects width and height */
  width: 1px;
  height: 15px;
  margin-left: 5px;
  margin-right: 15px;
  opacity: 1; /* Make sure it is visible */
  background: rgba(221, 221, 221, 1);
}
.slideContentTwo p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: rgba(27, 60, 116, 1);
}
.slideContentThree {
  width: 363.33px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.slideContentThree img {
  width: 32px;
  height: 32px;
}
.slideContentThree h4 {
  width: 109px;
  height: 27px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: rgba(27, 60, 116, 1);
}
.slick-slide > div {
  margin: 0 10px;
}
